<%- include('partials/header') %> 

<div class="forms-area">
    <div class="form-group form-fields"><h1>Edit Question</h1></div>
    <form action="/admin-edit-quest/<%=urlParameters%>" method="POST">
        <!-- question select -->

        <div class="form-group form-fields">
            <input type="text" name="topic" class="form-control" id="exampleFormControlInput1" placeholder="Question Topic">
        </div>
        <div class="form-group form-fields">
          <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Question Name">
        </div>
        <div class="form-group form-fields">
          <input type="text" name="url" class="form-control" id="exampleFormControlInput1" placeholder="Question Url">
        </div>
        
        <div class="form-group form-fields">
          
            <select class="form-control" name="list" id="exampleFormControlSelect1"> <!-- add to list -->
                <option value=""> Select a List </option>
                <% if (allLists.length) { %>
                    <% allLists.forEach(item=>{ %>
                        <option value="<%=item.listName%>"> <%=item.listName%> </option>
                    <% }) %>
                <% } %>
    
          </select>
        </div>
  
        <div class="form-fields">
          <button type="submit" class="btn btn-primary mb-2">Edit Question</button>
        </div>
      </form>
  </div>

<%- include('partials/footer') %>