<%- include('partials/header') %>

    <div>

      <div class="page-heading-container">
        <h1>All Lists</h1>
      </div>

    <% allLists.forEach(item=>{ %>

    <div class="card list-card border-warning mb-3">
        <div class="card-header"><h3> <%=item.listName%> </h3></div>
        <div class="container-fluid card-body-outer-container">
          <div class="row card-row">
            <div class="card-body card-body-container text-warning col-md-8">
              <div class="card-body-text-inner-container">
                <h5 class="card-title"> Total Questions: <%= item.questionSet.length %> </h5>
                <p class="card-text"> <%=item.aboutList%>  </p>
              </div>
              <!-- Love Babbar DSA Cracker Sheet containing 450 Questions related to Data structures and Algorithms. This sheet is proven to be very helpful for many students and has helped them crack many coding rounds and interviews -->
            </div>
            <div class="button-container col-md-4">
              <div class="inner-button-container">
                <button type="button" onclick="window.location.href = '/lists/<%=item._id%>/all/all'" value="THIS IS THE value" name="startButton" class="btn btn-success">Start solving</button>
                <button type="button" class="btn btn-primary" disabled> About this list</button>
                <button type="button" class="btn btn-danger" disabled> Reset progress</button>
              </div>
            </div>  
          </div>
        </div>
      </div>

      <% }) %>
    </div>

<%- include('partials/footer') %> 